.shared {
    background-color: rgb(240, 128, 128);
    font-family: Verdana, "DejaVu Sans", sans-serif;       
}

#nr2 {
    color: blue;
    font-size: 36px;
}

.nr3 {
    font-size: 24px;
}

#nr4 {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}