body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 450px;
  background: #fff;
  margin: 16px auto;
  padding: 12px;
}

.title {
  background: #e3f4ff;
  padding: 10px;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
  padding: 16px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  margin-top: 10px;
  padding: 10px 0;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 6px 24px;
  display: block;
  margin: 0 auto;
}